<div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-black">Home</a></li>
            <li class="nav-item"><a href="/productos" class="nav-link px-2 text-black">Trabajos</a></li>
            <li class="nav-item"><a href="/formulario" class="nav-link px-2 text-black">Formulario</a></li>
            <li class="nav-item"><a href="/contacto" class="nav-link px-2 text-black">Contacto</a></li>
            <li class="nav-item"><a href="https://www.instagram.com/fibro_sur/" class="nav-link px-2 text-black" target="_blank">Instagram</a></li>
            <li class="nav-item"><a href="/nuestrotaller" class="nav-link px-2 text-black">Nuestro taller</a></li>
            
        </li>
        </ul>
        <p class="text-center text-black">&copy; 2022 Fibro Sur Muebles</p>
    </footer>
</div>

<div class="b-example-divider"></div>

