<div class="container text-center">
<br>
<br>
<h1 class="tittle">
    Dejanos tu correo electrónico y a la brevedad te estaremos contactando
</h1>
<br>

</div>
<div class="container">
    <form action="/contacto" method="post">
        <div class="mb-3">
            <label for="nombre" class="form-label text-bg-dark">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label text-bg-dark">Email</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="mb-3 text-center">
            <button type="submit" class="btn btn-success w-75">Enviar datos</button>
        </div>
    </form>
</div>
<br>