
<div class="container text-center">
    
    <h1>
        Ingreso de nuevos trabajos para personal de 
    </h1>
    <h1>Fibro Sur Muebles</h1>
    
</div>

<div class="container">
    <form action="/formulario" method="post">
        <div class="mb-3">
            <label for="nombre" class="form-label text-bg-dark">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required>
        </div>
        <div class="mb-3">
            <label for="precio" class="form-label text-bg-dark">Precio</label>
            <input type="number" class="form-control" id="precio" name="precio" required>
        </div>
        <div class="mb-3">
            <label for="descripcion" class="form-label text-bg-dark">Descripción</label>
            <input type="text" class="form-control" id="descripcion" name="descripcion" required>
        </div>
        <div class="mb-3 text-center">
            <button type="submit" class="btn btn-primary w-75">Enviar</button>
        </div>
    </form>
</div>