<div class="container text-center">
   
    <h1>
      También podés acercate a nuestro taller
    </h1>
    <h1>
        Horario de atención: lunes a viernes de 08 a 16 hs
    </h1>
    
    
     <div class="mapa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1640.8426641010567!2d-58.36273702157408!3d-34.66264904006427!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a3334feab04cb3%3A0xfc06a37ab3413cab!2sAmeghino%20952%2C%20Avellaneda%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1673721059137!5m2!1ses-419!2sar" width="900" height="315
    " style="border: 0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
      
</div>
