
<div class="container text-center">
    
    <h1>
       TRABAJANDO SIN CONEXION A LA DATABASE
    </h1>
    <img src="https://www.lucushost.com/blog/wp-content/uploads/2018/11/como-crear-una-pagina-en-construccion.png" alt="">
   <br><br>
    
</div>